/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  --background-image: linear-gradient(rgba(11, 17, 30, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/dark-bg.jpg) center/cover no-repeat;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 325;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;

  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.75rem;
  --biggest-font-size: 6rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.813rem;
  --smallest-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    /* --biggest-font-size: 2.5rem; */
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

hr {
  max-width: 80%;
  margin: auto;
  height: 0.5rem;
  background: var(--background-image);
  background-attachment: fixed;
  border: none;
  border-radius: 0.25rem;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav_btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.4s;
}

.change-theme:hover {
  color: var(--first-color);
}

/*========== Variables Light theme ==========*/
body.light-theme {
  --background-image: linear-gradient(
      rgba(192, 200, 218, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/images/light-bg.jpg) center/cover no-repeat;
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: #fff;
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.light-theme .scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.25);
}

.light-theme .section_subtitle {
  color: var(--text-color);
}

.light-theme .home_social-link {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .home_social-link::after {
  background-color: var(--title-color);
}

.light-theme .home_social-link,
.light-theme .footer_social-link,
.light-theme .home_scroll,
.light-theme .button,
.light-theme .button:hover .light-theme .active-portfolio,
.light-theme .footer_title,
.light-theme .footer_copy,
.light-theme .scrollup_icon {
  color: var(--title-color);
}

.light-theme .portfolio_card {
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme::-webkit-scrollbar {
  background-color: hsl(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 44%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.section_title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section_subtitle {
  display: block;
  font-size: var(--smallest-font-size);
  color: var(--text-color-light);
  margin-top: 0;
  margin-bottom: 1rem;
}

/*=============== HEADER & NAV===============*/
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  transition: 0.4s; /* for light mode animation */
}

.nav_logo-img {
  max-height: 3.5rem;
  margin-top: 1rem;
}

.nav {
  max-width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav_toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover {
  color: var(--first-color);
}

#nav-toggle,
#theme-button {
  padding: 2px;
  margin: 2px;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.4s;
  }
}

.nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav_close:hover {
  columns: var(--first-color-alt);
}

/* show menu */
.show-menu {
  bottom: 0;
}

.hide-toggle {
  display: none;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*=============== HOME ===============*/
.home {
  background: var(--background-image);
  background-attachment: fixed;
  height: 100vh;
}

.home_container {
  position: relative;
  row-gap: 4.5rem;
  padding: 1rem 0;
}

.home_data {
  text-align: center;
}

.home_greeting,
.home_jobtitle {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home_greeting {
  display: block;
  color: var(--title-color);
}

.home_jobtitle {
  color: var(--text-color);
  margin-bottom: 2rem;
}

.home_name {
  font-size: var(--biggest-font-size);
}

.home_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home_social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.home_social-link {
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 2rem;
  display: inline-flex;
  transition: 0.4s;
}

.home_social-link:hover {
  background-color: var(--body-color);
  color: var(--first-color);
}

.home_scroll {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.home_scroll-button {
  color: var(--first-color);
  transition: 0.4s;
}

.home_scroll-button:hover {
  transform: translateY(0.25rem);
}

.home_scroll-mouse {
  font-size: 2rem;
}

.home_scroll-name {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: 0.25rem;
}

.home_scroll-arrow {
  font-size: 1.25rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.4s;
}

.button:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}

.button-ghost {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

/*=============== PORTFOLIO ===============*/
.portfolio_container {
  padding-top: 1rem;
  justify-content: center;
}

.portfolio_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}

.portfolio_item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}

.portfolio_card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}

.portfolio_img {
  /* border-radius: 1rem; */
  margin-bottom: 0.75rem;
}

.portfolio_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
  padding-top: 1rem;
}

.new_icon {
  color: var(--first-color);
}

.portfolio_links {
  display: flex;
  justify-content: space-between;
}

.portfolio_button {
  width: max-content;
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  align-items: center;
  column-gap: 0.25rem;
}

.portfolio_button:hover .portfolio_icon {
  transform: translateX(0.25rem);
}

.portfolio_icon {
  font-size: 1rem;
  transition: 0.4s;
}

#bold {
  font-weight: bolder;
  font-size: var(--h3-font-size);
}

/* Active item portfolio*/
.active-portfolio {
  background-color: var(--first-color);
  color: var(--body-color);
}

/*=============== ABOUT ===============*/
.about_container {
  row-gap: 2.5rem;
}

.about_data {
  text-align: center;
}

.about_box {
  background-color: var(--container-color);
  border-radius: 0.75rem;
  padding: 0.75rem 0.5rem;
}

.about_icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.about_title {
  font-size: var(--smaller-font-size);
}

.about_subtitle {
  font-size: var(--tiny-font-size);
}

.about_description {
  margin: auto;
  padding-right: 1rem;
}

.about_img {
  width: 250px;
  justify-self: center;
}

.about_handle {
  justify-self: center;
  width: 250px;
  height: 300px;
  /* background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
  ); */
  background: var(--background-image);
  background-attachment: fixed;
  border-radius: 50% 50% 3% 3%;
  box-shadow: -11px -5px 25px -12px hsl(var(--first-hue), var(--sat), 71%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

/*=============== SERVICES ===============*/
.services_container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services_card {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.services_card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.services_button {
  color: var(--first-color);
  font-size: var(--smaller-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.services_button:hover .services_icon {
  transform: translateX(0.25rem);
}

.services_icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color-alt);
  transition: 0.4s;
}

/* Services modal */
.services_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.services_modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services_modal-title {
  text-align: center;
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1.5rem;
}

.services_modal-list {
  display: grid;
  row-gap: 0.75rem;
}

.services_modal-item {
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
}

.services_modal-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.services_modal-info {
  font-size: var(--smaller-font-size);
}

.services_modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

/*Active modal*/
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*=============== CONTACT ===============*/
.contact_container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.contact_title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact_content {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
}

.contact_label {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--smallest-font-size);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: 10;
}

.contact_form-area {
  height: 11rem;
}

.contact_form-area textarea {
  resize: none;
  background: none;
}

/*=============== FOOTER ===============*/
.footer {
  padding-top: 2rem;
}

.footer_container {
  row-gap: 3.5rem;
  max-width: 100%;
}

.footer_bg {
  background: var(--background-image);
  background-attachment: fixed;
  padding: 2rem 0 3rem;
}

.footer_logo-img {
  float: left;
  height: 100px;
}

.footer_title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
  font-size: var(--small-font-size);
}

.footer_title,
.footer_subtitle {
  margin-top: 1rem;
}

.footer_social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  margin-bottom: 2rem;
}

.footer_social-link {
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 2rem;
  display: inline-flex;
  transition: 0.4s;
}

.footer_social-link:hover {
  background-color: var(--body-color);
  color: var(--first-color);
}

.footer_copy {
  display: block;
  margin-bottom: 2rem;
  color: var(--second-color);
  text-align: center;
  font-size: var(--smallest-font-size);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  animation: bounce 2s ease-in-out infinite;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup_icon {
  font-size: 1.5rem;
  color: #fff;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 20%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 320px) {
  .nav_menu {
    padding: 1rem 1.5rem;
  }

  .home_container {
    padding: 1rem 0;
  }
  .home_name {
    font-size: var(--big-font-size);
  }

  .about_handle {
    width: 150px;
    height: 190px;
  }
  .about_img {
    width: 150px;
  }

  .services_container {
    grid-template-columns: 145px;
    justify-content: center;
  }

  .portfolio_item {
    font-size: var(--smaller-font-size);
  }
  .portfolio_filters {
    column-gap: 0.25rem;
  }
  .portfolio_card {
    width: 250px;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home_container {
    padding-top: 0;
    margin-top: 0;
  }
  .home_content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home_data {
    grid-column: initial;
  }
}
.home_name {
  font-size: var(--big-font-size);
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 576px) {
  .home_container {
    padding: 0;
  }
  .home_name {
    font-size: var(--biggest-font-size);
  }

  .services_container {
    grid-template-columns: repeat(2, 160px);
    justify-content: center;
  }
  .services_modal-content {
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
  }

  .portfolio_container {
    grid-template-columns: repeat(2, max-content);
  }
  .portfolio_card {
    width: 250px;
  }

  .contact_form {
    width: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }
  .section_subtitle {
    margin-bottom: 1rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav_icon,
  .nav_close,
  .nav_toggle {
    display: none;
  }
  .nav_list {
    display: flex;
    column-gap: 2rem;
  }
  .nav_menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }

  .home_container {
    row-gap: 5rem;
  }

  .about_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about_container {
    column-gap: 5rem;
  }
  .about_handle {
    width: 300px;
    height: 370px;
  }
  .about_img {
    width: 300px;
  }
  .about_description {
    text-align: initial;
  }
  .about_info {
    justify-content: space-between;
  }
  .about_buttons {
    justify-content: initial;
  }

  .services_container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }
  .services_icon {
    font-size: 2rem;
  }
  .services_content {
    padding: 6rem 0 2rem 2.5rem;
  }
  .services_modal-content {
    width: 450px;
  }

  .project {
    text-align: initial;
  }
  .portfolio_container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    grid-template-columns: repeat(2, max-content);
  }
  .portfolio_card {
    width: 350px;
  }
  .portfolio_data {
    padding-top: 0.8rem;
  }
}

/* For large devices */

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 6.5rem 0 1 rem;
  }

  .section_title {
    margin-bottom: 0.5rem;
  }

  .home_name {
    font-size: var(--biggest-font-size);
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .home_container {
    row-gap: 5rem;
  }
}
