@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: #434750;
}

h2 {
  color: #dbee33;
  text-align: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50rem;
}

.banner {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  align-items: center;
}

.banner img {
  height: 15rem;
}

.menu {
  margin-top: 10rem;
  padding: 0;
}

ul {
  position: relative;
  transform: skewY(-15deg);
}

ul li {
  position: relative;
  list-style: none;
  width: 200px;
  background: #3e3f46;
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}

ul li:hover {
  background: #dbee33;
  transform: translateX(50px);
}

ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

ul li:hover::before {
  background: #515a03;
}

ul li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

ul li:hover::after {
  background: #6f7a04;
}

ul li a {
  text-decoration: none;
  color: #999;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

ul li a:hover {
  color: #000;
}

ul li:last-child:after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

.portfolio {
  justify-content: center;
  align-items: center;
}

.portfolio_card {
  color: #999;
  background: #3e3f46;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.about {
  width: 90%;
  color: #999;
  background: #3e3f46;
  padding: 1rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
}

.skills {
  width: 90%;
  color: #999;
  background: #3e3f46;
  padding: 1rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
}

@media (min-width: 800px) {
  .portfolio_container {
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}